.pagePadding {
  padding: 1px 40px 40px 40px;
}

.width100 {
  width: 100%;
}

.flexRowCenterSpaceBetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexRowEnd {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.flexRowCenterWrap100 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.imageStyle {
  width: 300px;
  height: 300px;
  margin: 5px;
}

.carouselStyle {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.flexRowCenterContactInfo {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
